api = 2
core = 7.x
projects[libraries] = 2

libraries[litle][directory_name] = litle
libraries[litle][destination] = libraries
libraries[litle][download][type] = git
libraries[litle][download][url] = git://github.com/JacksonRiver/litle-sdk-for-php.git
libraries[litle][download][branch] = 8.27.1-jr
