.filter-wrapper {
    padding-top: 0;
}

.filter-wrapper legend{
    top: -20px;
    margin-bottom:10px;
    position: relative;
    z-index: 0;

}
.wysiwyg-toggle-wrapper {
    position: relative;
    z-index: 1;
}

#edit-field-sba-action-step-two-submit input {
    max-width: 320px;
}

#node_sba_social_action_form_group_sba_test_mode {
    margin-top: 20px;
}

#node_sba_social_action_form_group_sba_test_mode.collapsible {
    margin-top: -8px;
}