
p.donation_disclaimer {
	font-size: 0.66667rem;
	color: #666;
	font-family: DINWeb,Arial,Helvetica,sans-serif;
	padding: 2.77778rem 2.22222rem 0 0;
	text-transform: uppercase;
	line-height: 0.77778rem;
}