#edit-translation-manager {
  padding: 0;
}
#edit-translation-manager .fieldset-wrapper {
  padding: 10px 0px 0px 10px;
  margin: 0;
}
#sb-translation-manager td {
  border: none;
  padding: 1px 3px 1px 3px;
}
#sb-translation-manager td.sub-field {
  text-align: center;
  width: 90px;
}
#sb-translation-manager td.source-string {
  width: 42%;
}
#sb-translation-manager td.label-row {
  background-color: #01598e;
  color: #fff;
  padding: 4px 6px;
}
#sb-translation-manager tr {
  background: #fff;
}
#sb-translation-manager .form-item.form-type-textfield input {  
  font-size: 11px;
  height: 12px;
  margin: 2px 0px 2px;
  width: 90%;
}
#sb-translation-manager tr:hover .form-item.form-type-textfield input {
  border: 1px solid #999;
}
#sb-translation-manager .form-item.form-type-textfield input:focus {
  border: 1px solid #143c54;
}
#sb-translation-manager .form-item.form-type-textfield input.focus-active {
  border: 1px solid #143c54;
  position: relative;
  width: 150%;
  z-index: 2;
}
#sb-translation-manager tr:hover .form-item.form-type-textfield input.focus-active {
  border: 1px solid #143c54;
}

#edit-language-wrapper {
  float: right;
}
