#views-exposed-form-springboard-dw-donations-report-page .views-exposed-form .views-submit-button,
#views-exposed-form-springboard-dw-donations-report-page .views-exposed-form .views-reset-button {
  float: right;
}
#views-exposed-form-springboard-dw-donations-report-page #edit-transaction-date-wrapper .container-inline-date label,
#views-exposed-form-springboard-dw-donations-report-page #edit-transaction-date-wrapper .container-inline-date .description {
  display: none;
}
#views-exposed-form-springboard-dw-donations-report-page #edit-transaction-date-min-wrapper,
#views-exposed-form-springboard-dw-donations-report-page #edit-transaction-date-max-wrapper {
  float: left;
}
