/* Video */

.embedded-video {

}

.pane-video,
#p2p-comment-pane {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #acacac;
}

.donate-button {
  margin: 10px 0;
}

/* Comments */

#p2p-comment-pane {
  margin: 0 0 60px 0;
}

#p2p-comment-pane .pane-content ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#p2p-comment-pane .pane-content ul li.personal-campaign-comment-list {
  margin: 0 0 28px 0;
}

.p2p-comment-name-amount-wrapper {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.comment-arrow {
  position: absolute;
  display: block;
  margin-top: 5px;
  margin-left: -47px;
  width: 20px;
  height: 40px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  background: url('../images/comment-arrow.gif') no-repeat 0 center transparent;
}

span.p2p-comment-date {
  display: block;
  margin: 6px 0 0 0;
  font-weight: bold;
}

.p2p-comment-text-wrapper {
  display: inline-block;
  margin-top: 8px;
  padding: 10px 10px 4px 25px;
  min-height: 56px;
  width: 76%;
  border: 1px solid #d3d7d9;
  vertical-align: top;
}

.p2p-comment-date span {
  display: block;
}

.p2p-comment-name,
.p2p-comment-amount {
  display: block;
}

h3.p2p-comment-name {
  margin: 0 0 6px 0;
  padding: 0;
  font-size: 20px;
  line-height: 28px;
}

.p2p-comment-amount {
  display: table;
  padding: 4px 10px;
  background: #d35400;
  color: #fff;
  font-weight: bold;
}

#p2p-comment-pane h2 {
  margin: 0 0 20px 0;
  padding-bottom: 10px;
}

/* progress side bar */

.pane-progress .panel-pane {
  margin: 8px 0 6px 0;
}

.panel-pane-wrapper.pane-progress {
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid #a6a6a6;
}

.field-name-field-p2p-campaign-images {
  margin-bottom: 10px;
}

.personal-campaign-call-to-action {
  text-align: center;
}

.personal-campaign-call-to-action a {
  position: relative;
  display: inline-block;
  margin: 8px 0 4px 0;
  padding: 5px 10px;
  border: 0;
  background: #859596;
  color: #fff;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.personal-campaign-call-to-action a:after {
  position: relative;
  top: 1px;
  padding: 0px 0 0 10px;
  color: #fffe00;
  content: "\f061";
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  font-family: FontAwesome;
}

.personal-campaign-call-to-action a:hover {
  outline: none;
  background: #2980b9;
  text-decoration: none;
}

.personal-campaign-progress {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 18px;
}

/* donor roll */

.panel-pane.pane-recent-donors {
  margin: 0 0 20px 0;
  padding: 6px;
  border: 1px solid #a6a6a6;
}

.field-name-field-p2p-campaign-images.field-type-image {
  padding: 5px;
  border: 1px solid #a6a6a6;
}

.goal-label {
  margin: 6px 0 0 0;
  font-weight: bold;
}

.panel-pane.pane-personal-campaign-goal {
  margin: 0 0 10px 0;
}

/******************  Media queries, these should go last */

@media (min-width: 769px) {

}

@media (max-width: 980px) {

  .p2p-comment-text-wrapper {
    width: 74%;
  }

}

@media (max-width: 768px) {

  .field-name-field-p2p-campaign-images.field-type-image {
    border: none;
  }

  .p2p-comment-name-amount-wrapper {
    width: 28%;
  }

  .comment-arrow {
    display: none;
  }

  .p2p-comment-text-wrapper {
    width: 95%;
  }

}

@media (max-width: 480px) {

}
