.form-type-checkbox .description {
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
}

div.form-item.control-group {
  margin-bottom: 0;
  margin-top: 1em;
}

div[class*=multiple].control-group {
  margin-left: 2em;
  margin-top: 0;
}

div[class*=multiple].control-group label{
font-size: 0.9em;
}


.fieldset-description {
  margin-bottom: 1em;
}

#edit-springboard-group-node-submit-node {
  clear: left;
}