.group-content-wrapper.form-wrapper {
  padding: 5px;
  padding-left: 10px;
  margin: 1em;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 45%;
  min-height: 6em;
}

fieldset .fieldset-wrapper .control-group.form-type-item label {
  font-weight: bold;
}

.form-type-checkbox .description {
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
}

div.form-item.control-group {
  margin-bottom: 0;
}

div[class*=multiple].control-group {
  margin-left: 0;
  margin-top: 0;
}

div[class*=multiple].control-group label{
font-size: 0.9em;
}


.fieldset-description {
  margin-bottom: 1em;
}

#edit-springboard-group-node-submit-node,
#edit-springboard-group-entities-actions {
  clear: left;
  display:block;
}

#springboard-group-help {
  max-width: 720px;
}

#springboard-group-help ul {
  margin-left:2em;
}