
#springboard-advocacy-message-form-container #edit-field-sba-subject-editable .control-group,
#springboard-advocacy-message-form-container #edit-field-sba-user-editable .control-group {
  display: inline-block;
  margin-right: 25px;
}

#springboard-advocacy-message-form-container fieldset fieldset,
#sba_message_sba_message_action_message_form_group_sba_editable,
#edit-field-sba-bottom-conclusion {
  display: none;
}

#springboard-advocacy-message-form-container fieldset fieldset#edit-field-sba-user-editable div.form-type-checkboxes > label,
#springboard-advocacy-message-form-container fieldset fieldset div[id*=edit-field-sba-editable-area-optional] div.form-type-checkboxes > label {
  display:none;
}

#springboard-advocacy-message-form-container  #edit-field-sba-user-editable  .form-type-checkbox label {
  margin-right: 0.5em;
}

#springboard-advocacy-message-form-container  #edit-field-sba-user-editable .form-type-checkboxes > label {
  display:none;
}

#springboard-advocacy-message-form-container fieldset fieldset .fieldset-wrapper{
/*#sba_message_sba_message_action_message_form_group_sba_editable .fieldset-wrapper {*/
  background: #edf9ff;
}


#springboard-advocacy-message-form-container .form-item-name,
#edit-field-sba-signature {
  background: #fff;
  border: 1px solid #d5d5d5;
  padding: 1em 2em;
  margin-bottom: 2em;
  border-radius: 4px;
}

#springboard-advocacy-message-form-container .disabled {
  color: #d5d5d5;
}

#springboard-advocacy-message-form-container .form-item-name label,
#edit-field-sba-signature label{
  font-weight:normal;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 0.3em;
}

#edit-field-sba-signature label {
  margin-top: 1em;
}

#springboard-advocacy-message-form-container #edit-field-sba-subject-editable,
#springboard-advocacy-message-form-container #edit-field-sba-placeholder-greeting,
#edit-field-sba-greeting,
#edit-field-sba-subject{
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  margin-top: 0;
}
#springboard-advocacy-message-form-container #edit-field-sba-placeholder-greeting {
  vertical-align: top;
  margin-top: 0.5em;
}

#springboard-advocacy-message-form-container div[id*=edit-field-sba-editable-area-optional] {
  margin: 15px 0;
}

/********** Floating Recipients "block"  **************/

#springboard-advocacy-target-recipients-container {
  width:33%;
  float:right;
  position:relative;
}

#springboard-advocacy-target-recipients {
  width: 99%;
  border:1px solid #d5d5d5;
  border-radius: 4px;
  background:#fff;
  padding-bottom: 1em;
}

#springboard-advocacy-target-recipients-container .inner {
  min-height: 100px;
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
/* adjust the recipients box position when admin menu is in use. */
#springboard-advocacy-target-recipients-container .inner.recipients-fixed {
  margin-top: 44px;
}

#springboard-advocacy-target-recipients #not-saved {
  float: left;
  top: 10px;
  padding-left: 10px;
}

#springboard-advocacy-target-recipients h3 {
  margin-left: 1em;
}

#springboard-advocacy-target-recipients .sba-message-status {
  margin-left: 1.5em;
  display: none;
  color: #ff0000;
}

#springboard-advocacy-target-recipients .target-recipient {
  margin: 1em 1.75em;
  border: 1px solid #d5d5d5;
  padding: 0.5em;
  background:#fff;
  border-radius: 0.5em;
  position: relative;
}

#springboard-advocacy-target-recipients .target-recipient.new {
  background: #FFFFD8;
}
#springboard-advocacy-target-recipients .target-recipient.trans {
  background-color: #FFF;
  -moz-transition: background-color  350ms linear 250ms;
  -webkit-transition: background-color  350ms linear 250ms;
  -o-transition: background-color  350ms linear 250ms;
  -ms-transition: background-color 350ms linear 250ms;
  transition: background-color 350ms linear 250ms;
}

#springboard-advocacy-target-recipients .target-recipient:after {
  clear: both;
  content: "";
  display: table;
}
#springboard-advocacy-target-recipients .target-recipient ul  {
  display: block;
  float: left;
  width: 45%;
  list-style-type: none;
  color: #333;
  margin-bottom: 1em;
  margin-left:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#springboard-advocacy-target-recipients .target-recipient ul li.heading {
  font-weight: 600;
  font-size: 12px;
}

#springboard-advocacy-target-recipients .target-recipient ul li {
  position: relative; left: 1em;
  margin-bottom: 0;
}

#springboard-advocacy-target-recipients .target-recipient .remove-target {
  position: absolute;
  top: -13px;
  right: -4px;
  cursor: pointer;
  background: url("../img/icon-close.png");
  display: block;
  width: 22px;
  height: 22px;
}

#springboard-advocacy-target-recipients .target-recipient .legislator {
  background: transparent url("../img/icon-user.jpg") no-repeat 0 0;
  padding: 0 0 0 4px;
  text-indent: 20px;
}

#springboard-advocacy-target-recipients .target-recipient .legislator:first-line {
  font-size: 1.2em;
  line-height: 24px;
  padding-bottom: 4px;
}

#springboard-advocacy-target-recipients .target-recipient .individual {
  background: transparent url("../img/icon-custom.jpg") no-repeat 0 0;
  padding: 0 0 0 4px;
  text-indent: 20px;
}

#springboard-advocacy-target-recipients .target-recipient .individual:first-line {
  font-size: 1.2em;
  line-height: 24px;
  padding-bottom: 4px;
}

#springboard-advocacy-target-recipients .target-recipient .title h4 {
  margin: 0 0 2px 0;
  font-size: 1.2em;
  background: url("../img/icon-group.jpg") 0 0 no-repeat;
  padding: 0 0 0 34px;
}

#springboard-advocacy-target-recipients .targeting-count {
  text-align: right;
  font-size: 14px;
  margin: 20px 1.75em;
  font-family: 'Open Sans', sans-serif;
}

#springboard-advocacy-target-recipients .target-recipient .target.group .title h4 {
  background: url("../img/icon-custom-group.jpg") 0 0 no-repeat;
}

#springboard-advocacy-target-recipients .targeting-count strong {
  font-weight: 700;
}

#springboard-advocacy-target-recipients .remove-all-targets {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fcc289;
  color:#fff;
  padding: 5px 15px;
  float:right;
  display: inline;
  margin: 0 1.75em 0 0;
  font-size: 12px;
  cursor:pointer;
}

#springboard-advocacy-target-recipients .remove-all-targets:hover {
  text-decoration: none;
  background-color: #FFB063;
}

/************** Views exposed form *****************/


#springboard-advocacy-find-targets-container {
  clear: both;
  width: 100%;
  background: none;
  border: none;
  position: relative;
}
#springboard-advocacy-find-targets-container:after {
  clear: both;
  content: "";
  display: table;
}

#springboard-advocacy-find-targets-container #edit-actions {
  clear:both;
  background: none;
  padding: 0;
  margin-top:0;
}

#springboard-advocacy-find-targets-container #edit-actions input {
  width: 65%;
  line-height: 2em;
  display: block;
  border-radius: 4px;
  border:none;
  background: url("../img/arrow-message-save-button.png") 34% center no-repeat #247AAD;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

#springboard-advocacy-find-targets-container #edit-actions input:hover {
  background: url("../img/arrow-message-save-button.png") 34% center no-repeat #1E72A3;
}


#springboard-advocacy-find-targets {
  padding: 0;
  width:65%;
  float:left;
  background:#fff;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}
#springboard-advocacy-find-targets h3 {
  margin: 1em 1em 1em 1.5em;
}

#springboard-advocacy-find-targets div.view-targets {
  margin:  0;
  padding: 0;
}
#springboard-advocacy-find-targets-container .view-targets .faux-tab-container {
  margin: 0 2em 1.5em;
  border-bottom: 1px solid #ccc;
}
#springboard-advocacy-find-targets-container .view-targets .faux-tab-container:after,
#springboard-advocacy-find-targets-container .view-targets .faux-subtab-container:after{
  clear: both;
  content: "";
  display: table;
}
#springboard-advocacy-find-targets-container .view-targets .faux-tab {
  border: 1px solid #ccc;
  border-bottom:none;
  float: left;
  padding:10px;
  font-weight: bold;
  background: #fff;
}
#springboard-advocacy-find-targets-container .view-targets .faux-tab.committee {
  border-left:none;
}
#springboard-advocacy-find-targets-container .view-targets .faux-tab.active {
  background: #EFF9FF;
}

#springboard-advocacy-find-targets-container .view-targets .faux-tab.custom.active {
  background: #EFF9FF;
  overflow: visible;
  border-bottom: #EFF9FF solid 8px;
  position: relative;
  z-index: 999;
  margin-bottom: -8px;
}

#springboard-advocacy-find-targets-container .view-targets .faux-subtab-container {
  background-color: #EFF9FF;
  float: none;
  margin: -1.2em 2em 1.5em;
  padding: .75em .5em;
}

#springboard-advocacy-find-targets-container .view-targets .faux-subtab-container .faux-tab {
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 .5em;
  line-height: 1.2em;
  padding: .5em 1em;
}

#springboard-advocacy-find-targets-container .view-targets .faux-subtab-container .faux-tab.active {
  background-color: #7db9e8;
  border-color: #0088cc;
}

#springboard-advocacy-find-targets-container .view-targets .faux-subtab-container .faux-tab.active a {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0px #0088C7;
}


#springboard-advocacy-find-targets div.view-filters {
  margin: 0 2em 0 2em;
  padding: 0;
  clear: both;
}

#springboard-advocacy-find-targets .views-exposed-form {
  padding:0;
  margin: 0;
}
#springboard-advocacy-find-targets .views-exposed-form:after {
  clear: both;
  content: "";
  display: table;
}

#springboard-advocacy-find-targets #advocacy-attachment-before {

  margin:0;
  font-weight:bold;
  padding-top: 20px;
  background: url("../img/search-gradient-ramp.jpg") no-repeat scroll center 65% transparent;

}

#springboard-advocacy-find-targets div[id$=wrapper] {
  float:left;
  display:block;
}


#springboard-advocacy-find-targets  div#edit-combine-wrapper ,
#springboard-advocacy-find-targets  div#edit-search-committee-wrapper,
#springboard-advocacy-find-targets  div#edit-group-name-wrapper{
  display: block;
  margin-bottom:1em;
  margin-right: 0;
  float: none;
}

#springboard-advocacy-find-targets  #state-district-wrapper {
  width: 100%;
  max-width: 708px;
  position: relative;
  margin: 0;
  overflow: visible;
}
#springboard-advocacy-find-targets  #state-district-wrapper .ajax-progress-throbber {
  position: absolute;
  right:80px;
  top: 5px;
}

#springboard-advocacy-find-targets #state-district-wrapper select {
  width: 100%;
  clear: left;
}


#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-state],
#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district] {
  margin: 0;
  width: 47.5%;
}

#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-state] .selector,
#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district] .selector
{
  margin: 0;
  width: 100%!important;
  padding: 0 0 0 10px;
}
#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-state] .selector {
  margin-left: -5px;
}

#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-state] .selector span,
#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district] .selector span
{
  margin: 0;
  width: auto!important;
}

#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district]{
  margin-left: 5%;
  margin-right: -5%;
}

/* Grrr..... jQuery Uniform override **/
#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district] div.selector {
  margin: 0 0 0 -10px;
  padding: 0 0 0 10px;
}

#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district] div.selector.disabled {
  border: 1px solid #eee;
  border-radius: 5px;
  padding-left: 2px;
  margin-top: 4px;
  height: 30px;
}

#springboard-advocacy-find-targets #state-district-wrapper div[id*=search-district] div.selector.disabled span{
  line-height: 30px;
  height: 30px;
}


#springboard-advocacy-find-targets  .views-widget input#edit-combine,
#springboard-advocacy-find-targets  .views-widget input#edit-search-committee,
#springboard-advocacy-find-targets  .views-widget input#edit-group-name {
  border-radius: 4px;
  max-width: 708px;
  width: 100%;
  margin: 0;
  background: url("../img/icon-search.jpg") no-repeat scroll 14px 10px transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px 8px 40px;
  height: auto;
}
#springboard-advocacy-find-targets #edit-group_name-wrapper {
  float: none;
}
#springboard-advocacy-find-targets #edit-group-name-wrapper label {

}

#springboard-advocacy-find-targets  div[id*=search-role] {
  clear:left;
}

#springboard-advocacy-find-targets  .control-group
{
  margin-bottom: 0;
}

#springboard-advocacy-find-targets  .views-widget .control-group label,
#springboard-advocacy-find-targets  .description
{
  font-weight: lighter;
}

#springboard-advocacy-find-targets .radio-widgets {
  clear:both;
  padding: 1em;
}

.radio-widgets:after {
  clear: both;
  content: "";
  display: table;
}

#springboard-advocacy-find-targets .radio-widgets .views-exposed-widget {
  margin: 1em 3em 1em 0;
}

#springboard-advocacy-find-targets .radio-widgets .views-exposed-widget#edit-group-name-wrapper {
  margin: -1.2em -1em 1em;
}

#springboard-advocacy-find-targets .views-exposed-widget {
  vertical-align: top;
  margin-right: 2.5em;
  margin-top: 0;
}

#springboard-advocacy-find-targets #state-district-wrapper .views-exposed-widget {
  margin-right: 1em;
}
#springboard-advocacy-find-targets #committee-wrapper {
  float: none;
  width: 100%;
}
#springboard-advocacy-find-targets #edit-search-committee-wrapper .selected {
  background-color: #EFF9FF!important;
  cursor: pointer!important;
}
#springboard-advocacy-find-targets  #edit-search-committee-chamber-wrapper,
#springboard-advocacy-find-targets .views-exposed-widget #edit-search-committee-chamber-wrapper {
  margin-left: 5%;
  margin-right: -5%;
  width: 47.5%;
}
#springboard-advocacy-find-targets .views-exposed-widget > label {
  margin: 0 0 10px 0;
  display: block;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans",sans-serif;
}

#springboard-advocacy-find-targets .views-exposed-widget label.option {
  top:4px;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper {
  float:right;
  margin-right: -2.75em;
  margin-top: -45px;
  margin-bottom: 0;
  width: 223px;
  background: url("../img/arrow-quick-target.png") no-repeat scroll 0 20px transparent;
  padding-left: 56px;
  display:none;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper .target-button-header {
  font-weight: 600;
  line-height: 30px;
  font-size: 16px;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper .target-button-help {
  color: #999;
  font-weight: 400;
  margin-left: 4px;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button {
  display:block;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button input {
  margin: 10px 10px 12px 0;
  padding: 12px 6px;
  font-size: 1.4em;
  text-align: center;
  font-weight: 400;
  width: 180px;
  background: #75C1EE;
  border:none;
  border-radius: 4px;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button input:hover {
  background: #72BEEC;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button {
  display:block;
  clear:left;
  float:left;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button input {
  width: 220px;
  padding: 12px 6px;
  border-radius: 4px;
  border: none;
  background: #247AAD;
  text-align: center;
  color: #FFF;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  cursor: pointer;
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button .ajax-progress-throbber {
  position: absolute;
  right:-10px;
  top: 14px;
}


#springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button input:hover {
  background: #1E72A3
}

#springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button:before{
  content: '';
}

#springboard-advocacy-find-targets .views-targets-button{
  display: inline-block;
  margin: 6px 5px;
}

#springboard-advocacy-find-targets  .pager {
  float: right;
  margin-right: 2em;
}

.view-targets  .pager .ajax-progress-throbber {
  position: absolute;
  left:-40px;
  top: -10px;
}

#springboard-advocacy-find-targets  .pager li.pager-current {
  background: #336699;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #DFDFDF;
  margin-left: -5px;
  padding: 5px 10px;
}

#springboard-advocacy-find-targets .pager-ellipsis,
#springboard-advocacy-find-targets .pager-first,
#springboard-advocacy-find-targets .pager-last {
  display:none;
}

#springboard-advocacy-find-targets .pager li > a,
#springboard-advocacy-find-targets .pager li > span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
  color: #337AB7;
  background: #fff;
  border: 1px solid #DFDFDF;
  margin-left: -5px;
}

#springboard-advocacy-find-targets .pager li a:hover {
  color: #337AB7;
}

#springboard-advocacy-find-targets .pager li > a:hover,
#springboard-advocacy-find-targets .pager li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

#springboard-advocacy-find-targets  .pager li .progress-disabled {
  color: #fff;
}


#springboard-advocacy-find-targets   #top-pager:before {
  clear: both;
  content: "";
  display: table;
}

#springboard-advocacy-find-targets   #top-pager .pager{
  margin: 0 2em 0;
}
#springboard-advocacy-find-targets  #advocacy-attachment-before-rows {
  float: left;
  margin: 1.4em 0.7em 0.7em 2em;
}

#springboard-advocacy-find-targets  #advocacy-attachment-before-rows .target-results {
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
}

#springboard-advocacy-find-targets  #advocacy-attachment-before-rows .target-count {
  color: #ccc;
  margin-left: 1em;
}

#springboard-advocacy-find-targets #advocacy-attachment-before-add-all {
  margin: 1em 2em;
}
#springboard-advocacy-find-targets #advocacy-attachment-before-add-all a {
  float: right;
  margin: 0 0 1em;
  padding: 4px 6px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #247AAD;
  color: #fff;
  text-shadow: none;
  font-weight: 400;
}
#springboard-advocacy-find-targets #advocacy-attachment-before-add-all a:hover {
  background: #1E72A3;
  text-decoration:none;

}

#springboard-advocacy-find-targets #advocacy-attachment-before-add-all a:before {
  display: inline-block;
  margin: 0 8px 0 0;
  color: #fff;
  content: "";
  font-family: FontAwesome;
  position: relative;
  left: 0;
  top: 0;
  z-index: 100;
}

#springboard-advocacy-find-targets .view-targets > div.item-list {
  display: block;
  position: relative;
  width: 100%;
}

#springboard-advocacy-find-targets th {
  background: #247AAD;
  color: #FFF;
  padding: 10px 6px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
}

#springboard-advocacy-find-targets th.first,
#springboard-advocacy-find-targets th.last {
  border-radius: 0;
}

#springboard-advocacy-find-targets td {
  padding: 8px 14px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
#springboard-advocacy-find-targets  th.views-field-last-name,
#springboard-advocacy-find-targets  td.views-field-last-name {
  text-align: left;
  padding-left:10px;
}
#springboard-advocacy-find-targets tbody td.views-field-target-actions {
  text-align: right;
}
#springboard-advocacy-find-targets tr.even td {
  background: #EFF9FF;
}

#springboard-advocacy-find-targets td.views-field-target-actions {
  text-align:center;
}

#springboard-advocacy-find-targets td.views-field-target-actions a {
  border-radius: 4px;
  background-color: #247AAD;
  padding: 2px 10px;
  color: #FFF;
  float: right;
  display: inline;
  margin-right: 5px;
  font-size: 11px;
  cursor: pointer;
}

#springboard-advocacy-find-targets td.views-field-target-actions a:hover {
  text-decoration: none;
}

#advo-error-wrapper {
  display:none;
  margin-top:1em;
}
#advo-error-wrapper, div.view-empty {
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  width: 65%;
  background: #fff;
}
div.view-empty {
  width: 61.5%;
}
#advo-error-wrapper div, div.view-empty {
  padding:5px 20px;
}
#advo-error-wrapper .advo-warning, div.view-empty{
  background: #ff3333;
  color: #fff;
  padding:20px;
}

div.narrow-search {
  font-weight: bold;
  margin: 1.5em 0 ;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #springboard-advocacy-find-targets  div.button-container {
    margin-top:45px
  }
  #edit-search-gender-wrapper {
    /*clear:left;*/
  }
  #springboard-advocacy-find-targets .radio-widgets {
    padding: 0;
  }

  #springboard-advocacy-find-targets .radio-widgets .views-exposed-widget {
    margin: 1em 1.2em 1em 0;
  }

  #springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper {
    float:right;
    margin-right: 0;
    margin-top: -45px;
    width:40%;

  }
  #springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button {
    margin-top: 0;
    margin-right:0;
    width:45%;
    overflow: visible;
  }
  #springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button input{
    width:70%;
  }
  #springboard-advocacy-find-targets-container #edit-actions input {
    background: url("../img/arrow-message-save-button.png") 30% center no-repeat #247AAD;
  }
  #springboard-advocacy-find-targets-container #edit-actions input:hover {
    background: url("../img/arrow-message-save-button.png") 30% center no-repeat #1E72A3;
  }
}

@media only screen and (min-width: 769px) and (max-width: 979px) {

  #springboard-advocacy-find-targets td {
    padding: 4px;
    font-size: 12px;
  }

  #springboard-advocacy-find-targets  div.button-container {
    margin-top:0;
  }

  #edit-search-gender-wrapper {
    clear:left;
  }

  #springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button {
    width:70%;
  }

  #springboard-advocacy-find-targets .radio-widgets .views-exposed-widget {
    margin: 1em 0 1em 0;
    width: 50%;
  }

  #springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper {
    float: none;
    width:66%;
    margin-top: 5px;
  }

  #springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper .target-button-header{
    margin: 0 auto;
    text-align: center;
  }
  #springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button-wrapper .target-button-help {
    margin: 0 auto;
    text-align: center;
  }

  #springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button {
    margin: 0 auto;
    text-align: center;
  }
  #springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button {
    margin: 0 auto;
    float:none;
    text-align: center;
  }
  #springboard-advocacy-find-targets-container #edit-actions input {
    background: url("../img/arrow-message-save-button.png") 25% center no-repeat #247AAD;
  }
  #springboard-advocacy-find-targets-container #edit-actions input:hover {
    background: url("../img/arrow-message-save-button.png") 25% center no-repeat #1E72A3;
  }

}

@media only screen and (min-width: 320px) and (max-width: 769px) {

  #springboard-advocacy-find-targets td {
    padding: 4px;
    font-size: 12px;
  }

  #springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button{
    width:223px;
    margin-right: -2.75em;
    padding-left:56px;
    float:none;
    text-align: center;
  }
  #springboard-advocacy-find-targets div.views-exposed-widget.views-targets-button-wrapper {
    float: none;
    /*width: 66%;*/
    margin-top: 5px;
    text-align:center;
  }
  #springboard-advocacy-find-targets .radio-widgets .views-exposed-widget {
    margin: 1em 0;
    width: 50%;
  }

  #edit-search-gender-wrapper {
    clear:left;
  }

  #springboard-advocacy-find-targets div.views-exposed-widget.views-targets-button {
    margin-right: auto;
    text-align:center;
  }
  #springboard-advocacy-find-targets-container #edit-actions input {
    background:  #247AAD;
  }
  #springboard-advocacy-find-targets-container #edit-actions input:hover {
    background:  #1E72A3;
  }
}
