.fieldset-wrapper .form-item-new-name, .fieldset-wrapper .form-item-new-key, .fieldset-wrapper .form-item-new-default{
  float: left;
  margin-right: 20px;
}

#marketsource-custom-fields label {
  width: 100px;
}

