form .left-sidebar {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  min-width:250px;
}

form .right-sidebar {
  float: right;
  overflow: hidden;
  margin-left: 10px;
}

.both-sidebars [class*="span"],
.both-sidebars .row {
  margin-left: 0;
}

.center-area {
  overflow: hidden;
  min-width: 280px;
}

.span3.region-empty {
  width: 0px;
}

/*.middle-right-sidebar {
  overflow: hidden;
}*/

/*form .both-sidebars .center-area .layout-full {
  width: 100%;
  clear: both;
}

form .both-sidebars .center-area .layout-half {
  width: 50%;
  clear: none;
}*/

div#webform-component-top-region {
  float: left;
  width: 100%;
 }

 div#webform-component-bottom-region {
  float: left;
  width: 100%;
 }

div#webform-component-left-region {
  float:left;
  width: 49%;
}

div#webform-component-right-region {
  float:right;
  width:49%;
}


@media only screen and (max-width: 1080px) {
  .form-layout-both-sidebars div#webform-component-left-region {
    float:none;
    width: 100%;
  }

  .form-layout-both-sidebars div#webform-component-right-region {
    float:none;
    width:100%;
  }
}

@media only screen and (max-width: 780px) {
  .form-layout-single-sidebar div#webform-component-left-region {
    float:none;
    width: 100%;
  }

  .form-layout-single-sidebar div#webform-component-right-region {
    float:none;
    width:100%;
  }
}


div[id$="-amount"] .control-group {
  width:auto;
  clear:none;
  margin-right:10px;
}

div[id$="-donation-amount"]  .control-group input {
  margin-top:3px;
}

.control-group label.option {
  margin-left:4px;
  float: left;
}

fieldset[id$="--donation"] label[for$="-other-amount"] {
  float:left;
  clear:none;
  margin-right: 12px;
  margin-top: 5px;
}

fieldset[id$="--donation"] .field-prefix {
  float: left;
  clear: none;
  margin-top: 5px;
  margin-right: 4px;
}