/*form .left-sidebar {
  float: left;
  min-height: 600px;
}

form .right-sidebar {
  float: right;
  min-height: 600px;
}

.both-sidebars [class*="span"],
.both-sidebars .row {
  margin-left: 0;
}*/

.center-area {
  overflow: hidden;
}
/*
.middle-right-sidebar {
  overflow: hidden;
}

form .both-sidebars .center-area .layout-full {
  width: 100%;
  clear: both;
}

form .both-sidebars .center-area .layout-half {
  width: 50%;
  clear: none;
}*/

div#webform-component-left-region {
  float:left;
}

div#webform-component-right-region {
  float:right;
}