.box-content {
  padding: 20px;
}

.box-content #edit-submit, .box-content #edit-close {
  margin: 0;
  padding: 0;
  border: 0;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.box-content #edit-submit {
  background: url(../images/btn-yes.png) no-repeat;
  width: 103px;
  height: 20px;
/* Fix for IE button text */
  text-indent: -999px;
  text-transform: capitalize;
  font-size: 0;
  display:inline-block;
  line-height: 0;
}

.box-content #edit-close {
  background: url(../images/btn-nothanks.png) no-repeat;
  width: 72px;
  height: 20px;
/* Fix for IE button text */
  text-indent: -999px;
  text-transform: capitalize;
  font-size: 0;
  display:inline-block;
  line-height: 0;
}

#edit-amount-wrapper label {
  float: left;
  margin-right: 1em;
}

/* Move the currency symbol from the description into the input field */
#sustainer-upsell-donation-form .description {
  height: 0px;
  position: relative;
  top: -22px;
  font-size: 1em;
  left: 120px;
}

#sustainer-upsell-donation-form #edit-amount {
  padding-left: 10px;
}

/* lightbox specific stuff */

#lightbox iframe {
  border: 0px;
  overflow: hidden;
}

#lightbox #imageDataContainer, #lightbox #bottomNav {
  display: none !important;
}

body.box-content{
  background: #ffffff;
  height: 100%;
  color: #222;
  font-family: arial;
  font-size: 12px;
  line-height: 17px;
  padding:0px;
  overflow:hidden;
}

.modal-close {
  cursor: pointer;
}
