div#edit-tokens div.form-item, div#edit-token-sets div.form-item {
  display: inline-block;
}

#springboard-token-set-sets-admin-form a.add-token-set {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 16px;
}
#springboard-token-set-sets-admin-form a.delete-token-set {
  float: right;
  font-size: 13px;
  font-weight: bold;
}
#springboard-token-set-sets-admin-form .token-labels {
  clear: both;
  height: 18px;
}
#springboard-token-set-sets-admin-form .token-labels .token-label {
  float: left;
  height: 16px;
  overflow: hidden;
  margin-right: 4px;
  width: 343.993px;
}
#springboard-token-set-fields-admin-form .form-item {
  float: left;
  margin-right: 20px;
}
#springboard-token-set-fields-admin-form .form-item select {
  width: 100%;
}
#springboard-token-set-fields-admin-form .form-item-form-id {
  width: 28%;
}
#springboard-token-set-fields-admin-form .form-item-field-key {
  width: 30%;
}
#springboard-token-set-fields-admin-form #edit-token-add {
  margin-top: 22px;
}
