
#springboard-advocacy-message-form-container {
    float:left;
    width: 70%;
    margin-bottom: 1em;
}

#springboard-advocacy-message-recipients-container {
    width:100%;
    float:right;
}
#springboard-advocacy-message-recipients {
    background: #fcfcfc;
    margin-left: 1em;
    min-height: 100px;
    max-height:500px;
    overflow-y: auto;
    position: absolute;
    right: -20px;
    top: 0;
    width: 30%;
    border:1px solid #ccc;
    border-radius: 2em;
    box-shadow: 5px 5px 4px -1px #ccc;
}

#springboard-advocacy-message-recipients h3 {
    margin-left: 1em;
}

#springboard-advocacy-message-recipients .sba-message-status {
    margin-left: 1em;
    display: none;
    color: #ff0000;
}

#springboard-advocacy-message-recipients .target-recipient {
    margin: 1em;
    border: 1px dotted #ccc;
    padding: 0.5em;
}

#springboard-advocacy-message-recipients .target-recipient ul li {
    position: relative; left: 1em;
}


#sba-message-edit-form .springboard-advocacy-find-targets-container {
    width: 100%;
}
.springboard-advocacy-find-targets {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
.springboard-advocacy-find-targets .ctools-collapsible-container {
    padding: 0.8em;
}
.springboard-advocacy-find-targets .ctools-collapsible-handle {
    font-size: 1.2em;
    font-weight: bold;
}
.springboard-advocacy-find-targets .views-exposed-form {
   padding:1em;
}

.springboard-advocacy-find-targets .views-exposed-widget {
    vertical-align: top;
    margin-right: 2.5em;
    margin-top: 1em;
}

.springboard-advocacy-find-targets  #edit-combine-wrapper {
    display: block;
    float:left;
    min-width: 40%;
}

.springboard-advocacy-find-targets  #state-district-wrapper {
    min-width: 40%;
    position: relative;
    margin-top: 0;
}

.springboard-advocacy-find-targets #edit-search-district-name-wrapper select,
.springboard-advocacy-find-targets #edit-search-state {
    width: 160px;
}

.springboard-advocacy-find-targets #state-district-wrapper #edit-search-district-name-wrapper
{
    display:block;
}

.springboard-advocacy-find-targets #state-district-wrapper,
.springboard-advocacy-find-targets  #edit-search-role-1-wrapper,
.springboard-advocacy-find-targets  #edit-search-party-wrapper,
.springboard-advocacy-find-targets #edit-search-gender-wrapper,
.springboard-advocacy-find-targets  #edit-search-social-wrapper
{
    float:left;
    display: block;
}

.springboard-advocacy-find-targets  #edit-search-party-wrapper{
    clear:right;
}

.springboard-advocacy-find-targets  #edit-search-gender-wrapper
{
}

.springboard-advocacy-find-targets  .control-group
{
    margin-bottom: 0;
}
.springboard-advocacy-find-targets .views-exposed-widget label {
  margin: 0;
}
.springboard-advocacy-find-targets .views-exposed-widget label.option {
   top:4px;
}

.springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button {
    display:block;
    clear:left;
    float:right;
    margin-right: 1em;

}
.springboard-advocacy-find-targets  div.views-exposed-widget.views-targets-button input {
    margin: 10px 10px 12px 0px;
    width: 90   px;
    padding: 4px 6px;

}
.springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button {
    display:block;
    clear:left;
    float:right;
}
.springboard-advocacy-find-targets  div.views-exposed-widget.views-submit-button input {
  width: 85px;
}
/* adjust the summary box position when admin menu is in use. */
#springboard-advocacy-message-recipients.summary-fixed {
    margin-top: 44px;
}

#not-saved {
    float: left;
    top: 10px;
    padding-left: 10px;
}

#advo-error-wrapper {
    display:inline-block;
   padding-left:20px;
}

#springboard-advocacy-message-form-container #edit-field-subject-editable .control-group,
#springboard-advocacy-message-form-container #edit-field-message-editable .control-group {
    display: inline-block;
    margin-right: 10px;

}


/* ie 9 hack */
input[type="submit"].cancel-hover  {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxODJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjY1YTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==)!important;
    filter: none!important;
}


input[type="submit"].cancel-hover {
    background: -moz-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3182b2), color-stop(100%, #0265a0), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%)!important;
    background: -o-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%)!important;
    background: -ms-linear-gradient(top, #3182b2 0%, #0265a0 100%, #7db9e8 100%)!important;
    background: linear-gradient(to bottom, #3182b2 0%, #0265a0 100%, #7db9e8 100%)!important;
    color: #fff!important;
    text-shadow: none!important;
}
