.form-item .sba-term-indent {
    margin-left: 2em;
}

#edit-field-sba-legislative-issues #edit-field-sba-legislative-issues-und label,
#edit-organization-issues label {
    display: inline;
    font-size: 12px;
}


#edit-field-sba-legislative-issues div[class*="form-item-field-sba-legislative-issues-und"] > label {
    padding: 10px 0;
    font-size: 14px;
}


#edit-organization-issues .fieldset-description,
#edit-field-sba-legislative-issues .fieldset-description  {
    margin-bottom: 1em;
    font-size:14px;
}