.page-node-webform-results fieldset {
  border: 2px solid #e1e9db;
  border-top: none;
}
.page-node-webform-results fieldset legend {
  top: 20px;
  font-size 16px;
  left: -18px;
  margin-bottom: 17px;
}
.page-node-webform-results table td {
  font-size: 11px;
  padding: 2px 4px;
}
.view-springboard-dw-action-stats-report,
.view-springboard-dw-donation-stats-report {
  font-size: 11px;
  min-width: 500px;
}
.view-springboard-dw-action-stats-report .views-field-node-status,
.view-springboard-dw-donation-stats-report .views-field-node-status {
  color: #888;
  font-size: 10px;
  left: 6px;
  margin-top: 42px;
  position: absolute;
}
.view-springboard-dw-action-stats-report .views-field-actions-count,
.view-springboard-dw-action-stats-report .views-field-messages-count,
.view-springboard-dw-action-stats-report .views-field-new-contacts,
.view-springboard-dw-donation-stats-report .views-field-raised,
.view-springboard-dw-donation-stats-report .views-field-gifts,
.view-springboard-dw-donation-stats-report .views-field-sustainers,
.view-springboard-dw-donation-stats-report .views-field-first-time-donors {
  float: left;
  padding-bottom: 11px;
  text-align: center;
  width: 23%;
}
.view-springboard-dw-donation-stats-report .views-field-actions-count,
.view-springboard-dw-donation-stats-report .views-field-raised {
  width: 28%
}
.view-springboard-dw-action-stats-report .views-field-actions-count .field-content,
.view-springboard-dw-action-stats-report .views-field-messages-count .field-content,
.view-springboard-dw-action-stats-report .views-field-new-contacts .field-content,
.view-springboard-dw-donation-stats-report .views-field-raised .field-content,
.view-springboard-dw-donation-stats-report .views-field-gifts .field-content,
.view-springboard-dw-donation-stats-report .views-field-sustainers .field-content,
.view-springboard-dw-donation-stats-report .views-field-first-time-donors .field-content {
  bottom: 45px;
  display: block;
  font-size: 25px;
  position: relative;
}
.view-springboard-dw-action-stats-report .views-field-first-action-date,
.view-springboard-dw-action-stats-report .views-field-latest-action-date,
.view-springboard-dw-donation-stats-report .views-field-first-submission-date,
.view-springboard-dw-donation-stats-report .views-field-latest-submission-date, 
.view-springboard-dw-donation-stats-report .views-field-latest-fetch {
  display: block;
  font-size: 10px;
  position: absolute;
  right: 5px;
}
.view-springboard-dw-action-stats-report .views-field-latest-action-date,
.view-springboard-dw-donation-stats-report .views-field-latest-submission-date {
  margin-top: 12px;
}
.view-springboard-dw-action-stats-report .views-field-first-action-date .field-content,
.view-springboard-dw-action-stats-report .views-field-latest-action-date .field-content,
.view-springboard-dw-donation-stats-report .views-field-first-submission-date .field-content,
.view-springboard-dw-donation-stats-report .views-field-latest-submission-date .field-content {
  position: relative;
  top: 30px;
}
.view-springboard-dw-action-stats-report .views-field-latest-fetch .field-content,
.view-springboard-dw-donation-stats-report .views-field-latest-fetch .field-content {
  color: #ddd;
  position: relative;
  bottom: 73px;
}
