#donation-form-column-wrapper #left fieldset { margin-right: 10px;}
/*#donation-form-column-wrapper .form-text {width: 250px;}*/
#donation-form-column-wrapper {width: 100%;padding:0;}
#donation-form-column-wrapper #donation-form-footer {clear: both;}
#donation-form-column-wrapper .input-large {max-width:210px !important;/*temp fix*/}
