fieldset#webform-component-designations legend {
  margin-bottom: 0!important;
}

.designation-group-wrapper,
.fundraiser-designation-cart-wrapper{
  padding: 10px;
  margin-bottom: 5px;
}

.designation-group-image {
  float: left;
  margin: 0 15px 15px 0;
  max-width: 250px;
}

.designation-group-description {
  margin: 0 15px;
}

.designation-group-funds-table-wrapper {
  clear: left;
}
.designation-group-funds-table tr,
.fundraiser-designation-cart-table tr{
  background: inherit;
}

.designation-group-funds-table td, .fundraiser-designation-cart-table td {
  padding: 4px;
}

.designation-group-funds-table td select {
  margin: 0;
  padding: 0;
}


.designation-group-funds-table .control-group {
  float: left;
  clear: none;
  margin-right: 10px;
  width: auto
}

.designation-group-funds-table .control-group label{
  margin-left: 4px;
}

label[for*="fd-other"] {
  float:left;
  margin-right: 4px;
}

.designation-group-funds-table,
.fundraiser-designation-cart-table {
  width: 100%;
}
