#ui-datepicker-div {
  zoom: 0.90;
  -moz-transform: scale(0.90);
}
@media (max-width: 1200px) {
  .view-sbv-donations .view-filters {
    zoom: 0.82;
    -moz-transform: scale(0.82);
  }
}
#views-exposed-form-sbv-donations-page #sb-db-donations-report-help,
#views-exposed-form-sbv-donations-page-2 #sb-db-donations-report-help {
  cursor: pointer;
  position: relative;
  top: -1px;
}
#views-exposed-form-sbv-donations-page #sb-db-donations-report-help-popup,
#views-exposed-form-sbv-donations-page-2 #sb-db-donations-report-help-popup {
  background: #fff;
  box-shadow: 4px 4px 11px 0px #aaa;
  padding: 4px 9px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: -56px;
  width: 320px;
  z-index: 10;
}
#views-exposed-form-sbv-donations-page .form-item-master-did-value #edit-master-did-value,
#views-exposed-form-sbv-donations-page-2 .form-item-master-did-value #edit-master-did-value {
  display: none;
}
#views-exposed-form-sbv-donations-page .form-item-master-did-value,
#views-exposed-form-sbv-donations-page-2 .form-item-master-did-value {
  position: absolute;
}
#views-exposed-form-sbv-donations-page #edit-combine-wrapper label,
#views-exposed-form-sbv-donations-page #edit-status-wrapper label,
#views-exposed-form-sbv-donations-page #edit-field-fundraiser-internal-name-value-wrapper label,
#views-exposed-form-sbv-donations-page #edit-next-charge-min-inside-wrapper .container-inline-date label,
#views-exposed-form-sbv-donations-page #edit-next-charge-max-inside-wrapper .container-inline-date label,
#views-exposed-form-sbv-donations-page #edit-date-filter-min-inside-wrapper .container-inline-date label,
#views-exposed-form-sbv-donations-page #edit-date-filter-max-inside-wrapper .container-inline-date label {
  display: none;
}
#views-exposed-form-sbv-donations-page-2 #edit-order-id-wrapper label,
#views-exposed-form-sbv-donations-page-2 #edit-sid-wrapper label,
#views-exposed-form-sbv-donations-page-2 #edit-uid-raw-wrapper label,
#views-exposed-form-sbv-donations-page-2 #edit-mail-wrapper label,
#views-exposed-form-sbv-donations-page-2 #edit-next-charge-min-inside-wrapper .container-inline-date label,
#views-exposed-form-sbv-donations-page-2 #edit-next-charge-max-inside-wrapper .container-inline-date label,
#views-exposed-form-sbv-donations-page-2 #edit-date-filter-min-inside-wrapper .container-inline-date label,
#views-exposed-form-sbv-donations-page-2 #edit-date-filter-max-inside-wrapper .container-inline-date label {
  display: none;
}
#views-exposed-form-sbv-donations-page #edit-next-charge-min-wrapper,
#views-exposed-form-sbv-donations-page #edit-next-charge-max-wrapper,
#views-exposed-form-sbv-donations-page-2 #edit-next-charge-min-wrapper,
#views-exposed-form-sbv-donations-page-2 #edit-next-charge-max-wrapper {
  float: left;
}

#views-exposed-form-sbv-donations-page-2 #edit-next-charge-filter-wrapper,
#views-exposed-form-sbv-donations-page-2 #edit-date-filter-wrapper {
  margin-top: -25px;
}
#views-exposed-form-sbv-donations-page #edit-combine-wrapper input,
#views-exposed-form-sbv-donations-page-2 #edit-combine-wrapper input {
  width: 220px;
}
#views-exposed-form-sbv-donations-page #edit-status,
#views-exposed-form-sbv-donations-page-2 #edit-status {
  width: 160px;
}
#views-exposed-form-sbv-donations-page-2 .views-submit-button {
  margin-top: -9px;
}
#views-exposed-form-sbv-donations-page .views-submit-button input,
#views-exposed-form-sbv-donations-page-2 .views-submit-button input {
  width: 34px;
}
#views-exposed-form-sbv-donations-page .views-submit-button::before,
#views-exposed-form-sbv-donations-page-2 .views-submit-button::before {
  content: '';
}
.view-sbv-donations a.views-data-export {
  margin-top: -46px;
  position: absolute;
  right: 10px;
  top: inherit;
}
body.page-node-webform-results .view-sbv-donations a.views-data-export {
  right: 49px;
  padding-top: 2px;
  margin-top: -41px;
}
#views-exposed-form-sbv-donations-page #edit-combine-wrapper,
#views-exposed-form-sbv-donations-page #edit-field-fundraiser-internal-name-value-wrapper {
  margin-top: 25px;
}
#views-exposed-form-sbv-donations-page #edit-status-wrapper,
#views-exposed-form-sbv-donations-page-2 #edit-status-wrapper {
  margin-top: 23px;
}
#views-exposed-form-sbv-donations-page .views-exposed-form .views-reset-button {
  margin-top: 17px;
  margin-left: 4px;
}
#views-exposed-form-sbv-donations-page-2 .views-exposed-form .views-reset-button {
  margin-top: -9px;
}
.view-sbv-donations table.sticky-header {
  font-size: 10px;
  margin-left: -4px;
}
.view-sbv-donations table.sticky-header th {
  padding-left: 0;
  padding-right: 0;
}
.view-sbv-donations table.sticky-header th.first {
  padding-left: 5px;
}
@media (max-width: 1040px) {
  .view-sbv-donations table.sticky-header {
    margin-left: -2px;
  }
}
.view-sbv-donations table th {
  font-size: 11px;
  line-height: 2em;
  padding: 3px 5px;
}
.view-sbv-donations table.views-table td {
  border: none;
  border-left: 1px dotted #d4d4c9;
  font-size: 11px;
  line-height: 2em;
  padding: .75em .75em;
}
.view-sbv-donations table.views-table td.first {
  border-left: none;
}
.view-sbv-donations table.views-table tr.even td {
  background-color: #d4d4c9;
}
.view-sbv-donations table.views-table tr:hover td {
  background-color: #e6f1fb;
}
body.page-node .view-sbv-donations table .views-field-order-id,
body.page-node .view-sbv-donations table .views-field-uid {
  width: 60px;
}
body.page-node .view-sbv-donations table .views-field-sid {
  width: 70px;
}
body.page-node .view-sbv-donations table .views-field-remote-addr {
  width: 80px;
}
body.page-node .view-sbv-donations table .views-field-created {
  width: 120px;
}
.view-sbv-donations #sbv-export-download-msg {
  float: right;
}
.view-sbv-donations #sb-db-items-per-page {
  font-size: 11px;
}
body.page-admin .view-sbv-donations {
  background: #fff;
  border: 2px solid #e1e9db;
  border-top: none;
  padding: 8px 8px;
  margin-top: -10px;
}

@media (max-width: 989px) {
  body.page-admin-reports-salesforce-donations #main {
    width: 95%;
  }
  body.page-admin .view-sbv-donations {
    padding: 0px 6px;
  }
  body.page-admin .view-sbv-donations .views-table td {
    padding: 1px 1px;
  }
}
