.sba-button, .sba-add-button.button {
    float: right;
    display: inline-block;
    margin: 6px 5px;
}


.sba-add-button.button:before {
    display: inline-block;
    margin: 0px 8px 0px 0px;
    color: #FFF;
    content: "";
    font-family: FontAwesome;
}