/* Some basic deafults for p2p pages */

html body {
  color: #5b5b5b;
}

body ul,
body ol {
  margin: 0;
  padding: 0;
}

body h2 a:hover,
body h3 a:hover {
  text-decoration: none;
}

body a {
  color: #0285b0;
}

.pager {
  margin: 10px 0;
}

.pager li {
  display: inline;
  margin: 0 4px;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
}

.p2p-page-type h2,
.p2p-page-type h3 {
  margin: 8px 0 12px 0;
  color: #5b5b5b;
  font-size: 22px;
  line-height: 1.1em;
}

body p {
  margin: 10px 0 0 0;
}

/* user account */

.reg-pane,
.pane-social-login,
.pane-login {
  padding: 6px 6% 8px 6%;
  border: 1px solid #a6a6a6;
}

.pane-register.reg-pane {
  padding: 0;
}

.reg-pane .pane-content {
  margin: 0 auto;
  width: 74%;
}

.reg-pane h2.pane-title {
  margin: 16px auto 0 auto;
  width: 74%;
}

/* login page */

.p2p-login-page .pane-login {
  margin: 0 auto 20px auto;
  padding: 6px 2% 8px 2%;
  width: 310px;
  border: 1px solid #a6a6a6;
}

.p2p-login-page .pane-login #edit-actions {
  position: relative;
}

.p2p-login-page .pane-login #edit-actions:after {
  position: absolute;
  top: 36px;
  right: 11px;
  color: #fffe00;
  content: "\f007";
  font-size: 13px;
  font-family: FontAwesome;
  pointer-events: none;
}

.p2p-login-page .pane-title-wrapper {
  margin: 0 auto;
  padding: 6px 0 8px 0;
  width: 310px;
}

.p2p-login-page .pane-title-wrapper h1 {
  text-align: center;
  font-size: 31px;
}

.p2p-login-page .panel-pane-wrapper.pane-login input {
  width: 96%;
}

.p2p-login-page .panel-pane-wrapper.pane-login input#edit-submit {
  width: 100%;
}

.p2p-login-page .fb-oauth-wrapper {
  margin: 10px 0;
  text-align: center;
}

.p2p-login-page .pane-or p {
  margin: 18px 0;
  padding-bottom: 16px;
  border-bottom: 1px dotted #333;
  text-align: center;
  font-size: 1.5rem;
}

/* Registration page */

.reg-pane .form-wrapper {
  vertical-align: top;
}

.control-group select,
.control-group input {
   float: none;
  clear: none;
}

.reg-pane .control-group,
.reg-pane .form-item {
  float: none;
  clear: none;
}

.reg-pane #edit-account {
  width: 99%;
}

.reg-pane #edit-account .control-group,
.reg-pane #edit-account .form-item {
  width: 99%;
}

.reg-pane #edit-actions {
  width: 100%;
}

.reg-pane .password-strength {
  float: none;
  margin: 1.4em 0;
  width: 70%;
}

.reg-pane div.password-confirm {
  position: relative;
  top: -18px;
  visibility: hidden;
  float: none;
  margin-top: 0;
  width: 100%;
}

.reg-pane .control-group.email-wrapper .description,
.reg-pane .form-item.email-wrapper .description {
  width: 84%;
  font-size: 13px;
  line-height: 1.4em;
}

.reg-pane .form-actions.form-wrapper {
  position: relative;
  width: 90%;
}

.reg-pane input[type="submit"].btn,
.reg-pane input[type="submit"] {
  width: 100%;
}

.reg-pane .form-actions.form-wrapper:after {
  position: absolute;
  top: 36px;
  right: 11px;
  color: #fffe00;
  content: "\f007";
  font-size: 13px;
  font-family: FontAwesome;
  pointer-events: none;
}

.pane-campaign-header {
  margin: 0 0 20px 0;
}

.form-actions {
  margin: 4px 0;
  padding: 20px 0;
  border-top: none;
  background-color: #fff;
}

.pane-social-login img.fb-image {
  max-width: 97%;
}

input[type="text"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="password"],
.uneditable-input {
  width: 100%;
  height: 32px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 20px;
}

/* password page */

.pane-password {
  margin: 0 auto 20px auto;
  padding: 6px 2% 8px 2%;
  width: 310px;
  border: 1px solid #a6a6a6;
}

.pane-password p {
  font-size: 17px;
  line-height: 1.5em;
}

.p2p-password-page .pane-title-wrapper {
  margin: 0 auto;
  padding: 6px 0 8px 0;
  width: 310px;
}

.p2p-password-page input#edit-submit {
  width: 100%;
}

.p2p-password-page .form-actions {
  margin: 0px 0 0 0;
  padding: 0px 0 0 0;
}

.pane-password .form-actions.form-wrapper {
  position: relative;
}

.pane-password .form-wrapper {
  position: relative;
  clear: both;
  margin: 4px 0;
}

.pane-password .form-actions.form-wrapper:after {
  position: absolute;
  top: 16px;
  right: 11px;
  color: #fffe00;
  content: "\f007";
  font-size: 13px;
  font-family: FontAwesome;
  pointer-events: none;
}

.pane-password input#edit-name {
  width: 96%;
}

/******************  Media queries, these should go last */

@media (max-width: 1170px) {

  .reg-pane,
  .pane-social-login,
  .pane-login {
    padding: 14px 7% 8px 7%;
  }

}

@media (max-width: 980px) {

  .reg-pane,
  .pane-social-login,
  .pane-login {
    padding: 14px 2% 8px 2%;
  }

  .control-group select,
  .control-group input,
  .form-item select,
  .form-item input {
    /*width: 120px;*/
  }

}

@media (max-width: 768px) {

  .control-group select,
  .control-group input,
  .form-item select,
  .form-item input {
    width: 90%;
  }

  .reg-pane .form-wrapper,
  .reg-pane .control-group,
  .reg-pane .form-item {
    width: 99%;
  }

}

@media (max-width: 480px) {

  .reg-pane .password-strength {
    margin: 10px 0;
  }

  .reg-pane #edit-account .control-group .control-group {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  .reg-pane .control-group.confirm-parent {
    margin-top: 0;
  }

  .pane-password,
  .p2p-password-page .pane-title-wrapper,
  .p2p-login-page .pane-login,
  .p2p-login-page .panel-pane {
    width: 99%
  }

  .pane-password input#edit-name,
  .p2p-login-page .panel-pane-wrapper.pane-login input {
    width: 91%;
  }

}
