/* sba_action_submissions: */
.view-sba-action-submissions .view-content a#sb-queue-csv-download {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxODJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjY1YTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  border: 1px solid #01598e;
  border-radius: 5px;
  margin-top: -46px;
  float: right;
  font-size: 13px;
  height: 28px;
  padding: 5px 18px 5px 12px;
  text-decoration: none;
  width: 130px;
  zoom: 0.75;
}
.view-sba-action-submissions .view-content a#sb-queue-csv-download span.img-caption {
  color: #fff;
  text-shadow: none;
}
.view-sba-action-submissions .view-content #sbv-export-download-msg {
  margin-top: -20px;
  position: absolute;
  right: 0;
}
.view-sba-action-submissions .views-exposed-widgets {
  margin-bottom: 28px;
}
.view-sba-action-submissions .views-exposed-widgets input.form-text {
  width: 120px;
}
