.dashboard {
  position:relative;
  width:99%;
  min-width:800px;
}
#springboard-jump-pane img {
  float: left;
}

#springboard-jump-pane {
  float: left;
  margin-left: 25px;
}

#salesforce-status-pane {
  padding:10px;
  border-radius:3px;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #CCCCCC #DDDDDD #EEEEEE;
  border-style: solid;     
  border-width: 1px;
  -moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  border-radius: 3px; /* CSS3 */
  behavior: url(border-radius.htc);
}

body #springboard-quick-jump {
  height: 45px;
  width: 236px;
  float: left;
  margin-bottom:0;
}

body #springboard-jump-pane #springboard-jump-pane input.form-submit {
}

body .dashboard #springboard-jump-pane form {
  margin-bottom:0;
  margin-left: 25px;
}

div.springboard-pane {
  padding: 5px;
  margin: 3px;
  float:left;
}

div.springboard-pane p {
  margin: 0px;
  padding:0px;
}

div.springboard-pane #edit-destination-wrapper {
  margin: 0px 4px 0px 0px;
  padding-right: 5px;
  float:left;
}

div.springboard-pane p.sf-status {
}

div.springboard-pane div#springboard-sync {
}

/* div.springboard-pane div#springboard-sync a {
  -moz-box-shadow: 3px 3px 4px #ccc;
  -webkit-box-shadow: 3px 3px 4px #ccc;
  box-shadow: 3px 3px 4px #ccc; */
  /* For IE 8 */
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";*/
  /* For IE 5.5 - 7 */
  /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc'); */
/*}

div.springboard-pane div#springboard-sync a:hover {
  -moz-box-shadow: 1px 1px 2px #555;
  -webkit-box-shadow: 1px 1px 2px #555;
  box-shadow: 1px 1px 2px #555; */
  /* For IE 8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#555555')";*/
  /* For IE 5.5 - 7 */
  /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#555555');
}*/

div.springboard-pane span.Connected {
  color: #0A0;
}

div.springboard-pane span.successes {
  color: #0A0;
}

div.springboard-pane span.Failed {
  color: #A00;
}

div.springboard-pane span.failures {
  color: #A00;
}

div.springboard-pane span.no-threshold {
  color: #00A;
}

#fundraiser-performance-pane {
 width:100%;
}

#salesforce-status-pane #springboard-sync span {
  clear: none;
  display: block;
  float: left;
  margin-top: 4px;
}

#salesforce-status-pane #springboard-sync a {
  clear: none;
  display: block;
  float: left;
  margin-left: 10px;
}