.deliverability-performance-container .span3 {
     text-align:center;
 }

.deliverability-performance-container .span4 {
    text-align:center;
}

.deliverability-performance-container .text-info {
    font-size:35px;
}

.messages-generated {
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 12px;
}

.download-csv-results {
    float:right;
    display: inline;
    margin-top: -76px;
    margin-bottom: 40px;
}

.advocacy-targets-select {
    float:right;
    display: inline;
    margin-top: -49px;
    margin-bottom: 40px;
    margin-right: 35px;
}

.advocacy-targets-select label {
    display: inline;
}