.row-fluid,
.row-fluid[class*="span"] {
    min-height: 1px;
}

#take-action-wrapper {
    width: 100%;
}

#take-action-wrapper fieldset legend {
font-size: 18px;
}
#sba-messages-form label {
    font-weight: bold;
}

#message-action-form-2col-column-wrapper #edit-actions {
    clear:both;
    background-color: #fff;
    border-top: none;
    padding: 0;
    margin: 0;
}

#message-action-form-2col-column-wrapper #edit-actions input {
    width: 97.5%;
    background: #247AAD;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 0;
    font-size: 1.5em;
    padding: 10px 0;
    text-shadow: none;
}

#message-action-form-2col-column-wrapper #edit-actions input:hover {
    background: #1E72A3;
}

#message-action-form-2col-column-wrapper #sba-messages-form {
    clear: both;
}

#message-action-form-2col-column-wrapper #webform-component-sba-salutation.control-group {
    width: 20%;
    float: left;
    clear:none;
    margin-top: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-first-name.control-group,
#message-action-form-2col-column-wrapper #webform-component-sbp-last-name.control-group {
    float: left;
    clear:none;
    width:39.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;

}

#message-action-form-2col-column-wrapper #webform-component-sba-salutation.control-group select {
    width: 100%;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-first-name.control-group input,
#message-action-form-2col-column-wrapper #webform-component-sbp-last-name.control-group input {
    width:90%;
}

#message-action-form-2col-column-wrapper #webform-component-mail.control-group input {
    width: 95%;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-address.control-group,
#message-action-form-2col-column-wrapper #webform-component-sbp-address-line-2.control-group {
    float: left;
    clear:none;
    width:50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#message-action-form-2col-column-wrapper #webform-component-sbp-address-line-2.control-group {
    padding-left: 10px;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-address.control-group input,
#message-action-form-2col-column-wrapper #webform-component-sbp-address-line-2.control-group input {
    width:90%;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-city.control-group input {
    width: 95%;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-state.control-group,
#message-action-form-2col-column-wrapper #webform-component-sbp-zip.control-group {
    float: left;
    clear:none;
    width:50%;
}

#message-action-form-2col-column-wrapper #webform-component-sbp-state.control-group select,
#message-action-form-2col-column-wrapper #webform-component-sbp-zip.control-group input {
    width:90%;
}

#message-action-form-2col-column-wrapper #webform-component-sba-phone.control-group input {
    width: 95%;
}

textarea[id*="edit-sba-messages-message"] {
width: 95%;
min-height: 200px;
}

#edit-actions {
clear: both;
}

.node-sba-message-action .field-name-field-message-action-img {
    float:right;
    width: 30%;
    padding: 5px 5px 2em 10px;
}
.node-sba-message-action .field-name-field-message-action-img img {
    display: block;
    margin: 0 auto;
}

.node-sba-message-action .field-name-body {
    padding-left: 20px;
}
