.node-type-sba-message-action div.ctools-modal-content {
    border-radius: 4px;
    background: none repeat scroll 0 0 #FFF;
    color: #000;
    padding: 6px;
    margin: 2px;
    border: 1px solid #ccccff;
    overflow: visible;
}

.node-type-sba-message-action div.ctools-modal-content .modal-header {
    background: #369;
    border-radius: 4px;
    padding:6px 6px 6px 12px;
}

.node-type-sba-message-action div.ctools-modal-content .modal-title {
    color: #fff;
    font-weight: normal;
}

.node-type-sba-message-action div.ctools-modal-content a.close {
    opacity: .8;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    font-family: inherit;
    color: #fff;
    text-shadow: none;
}

.node-type-sba-message-action div.ctools-modal-content a.close img{
    padding-left: 20px;
    top: 0;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 8px;
    width: 90%!important;
    margin: 20px auto;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node {
    position:relative;
    height: auto;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node  .view-content{
    position:relative;
    top: 0px;
    padding: 0 1em;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node .item-list {
    position: absolute;
    top: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 40px;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node ul.pager {
    margin-top:0;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node .pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #FFF;
    border: none;
    border-radius: 0;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node .views-row {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node .views-row-last {
    border-bottom: none;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node .views-field {
    margin-bottom: 1em;
}

.node-type-sba-message-action #modal-content .view-sba-messages-node .views-label {
    margin-bottom: 0.5em;
    font-weight: bold;
}