.deliverability-performance-container .span3 {
     text-align:center;
 }

.deliverability-performance-container .span4 {
    text-align:center;
}

.deliverability-performance-container .text-info {
    font-size:35px;
}